body {margin-right: auto;
margin-left: auto;
font-family: sans-serif;}
.header-wrapper {position: fixed;
right: 0;
left: 0;
z-index: 1;}

.page-title {
display: flex;
padding: 22px 52px;
justify-content: space-between;
align-items: center;

margin-left: auto;
margin-right: auto;
background-color: #10bbd5;}
.sum {display: inline-block;
margin: 0;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #f8fdfe;}
.shopping-cart {border: none;
width: 40px; height: 40px;
background-color: transparent;
background-image: url(/images/cart_icon.png);
padding-left: 12px;
padding-bottom: 5px;
font-weight: 400;
font-size: 12px;
line-height: 83%;
color: #000;}
.for-users {
background-color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
padding: 4px 52px;
display: flex;
justify-content: space-between;}
.for-users-text {margin: 0;}
.for-users-link {font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
padding-left: 40px;}
.products {padding: 136px 52px 120px;
background-color: #eeeeef;}
.prodycts-title {margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: #1f1f1f;
padding-bottom: 23px;
border-bottom: 1px solid #a8a8a8;}
.products-list {padding-top: 24px;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 24px;
list-style: none;
padding-left: 0;
justify-content: center;}
.products-item {padding: 32px;
    position: relative;  
border: 1px solid #a8a8a8;
background-color: #f8fdfe;
margin-right: auto;
margin-left: auto;}
.products-item-img {margin-left: auto;
    margin-right: auto;}

.products-item-name {
    width: 242px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #1f1f1f;
margin: 0;
padding-top: 16px;
border-bottom: 1px solid #a8a8a8;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;}

.products-item-author {margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #8e8e8e;}
    .products-item-price {margin: 0;
    padding-top: 8px;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    color: #e90000;}
    .products-item-price-del {text-decoration: line-through;
        color: #8e8e8e;
    margin-left: 24px;}
.products-item-btn {padding-top: 8px;
    padding-bottom: 8px;
    width: 242px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    background: #4c394e;
    font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #f8fdfe;
border-radius: 4px;}
.products-item-btn-end {background: #4d762d;}
.footer-wrapper {display: flex;
justify-content: space-between;
padding: 32px 52px;
background: #4c394e;}
.footer-text {font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f8fdfe;
margin: 0;}
.chat-btn {position: sticky;
    width: 64px;
    height: 64px;
left: 93%;
top: 90%;
border: none;
background: #10bbd5;
border-radius: 100%;
z-index: 1;}
.remark {display: inline-block;
    position: absolute;
    margin: 0;
    border-radius: 4px;
    padding: 4px 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8fdfe;}
.hit {
background: #4200ff;}
.new {background: #af39e7;}
.discount {background: #ea33c0;
left: 72px}
.discount-only {left: 32px;}
.new-discount {left: 83px;}
